@font-face {
  font-family: 'OpenSans-Bold';
  src: local('OpenSans-Bold'), url(../assets/fonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: local('OpenSans-Regular'), url(../assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: local('Raleway-Bold'), url(../assets/fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Medium';
  src: local('Raleway-Medium'), url(../assets/fonts/Raleway-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: local('Raleway-SemiBold'), url(../assets/fonts/Raleway-SemiBold.ttf) format('truetype');
}
